.red {
  background-color: red;
  color: white;
  border-radius: 10%;
}
.green {
  background-color: green;
  color: white;
  border-radius: 10%;
}
.blue {
  background-color: blue;
  color: white;
  border-radius: 10%;
}
